#read {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

body {
    text-align: center
}

.hobby {
    background-color: linear-gradient(#17e6df 0%, #17e655 80%);
}

.line {
    height: 6px;
    width: 70px;
    margin: 8px auto;
    margin-top: 0px;
    background-color: black;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    background-color: black
}

.list {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: cursive;
    font-size: 20px;
}

#dami {
    height: 300px;
    width: 200px;
}

#jk {
    height: 300px;
}

.author {
    margin: 50px;
}

#jk:hover {
    height: 280px;
    width: 280px;
}

#dami:hover {
    height: 280px;
    width: 180px;
}
.menu a{
    color: white !important;
}